<body>
  <div class="container">
    this is routes
    <div class="row d-flex justify-content-center">
      <div class="col-sm-8">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Team Generator</h3>
            <div class="col-sm-12 pb-2 hover">
              <ul class="list-group">
                <li class="list-group-item">Steven</li>
                <li class="list-group-item">Gian</li>
              </ul>
            </div>
            <div>
              <div class="row">
                <div class="col-lg-24">
                  <input
                    type="text"
                    class="form-control"
                    placeholder=""
                    aria-label=""
                    aria-describedby="basic-addon1"
                  />
                </div>
              </div>
              <div class="col-sm-12 pt-2 pb-2">
                <button class="btn btn-primary w-100" type="submit">Add</button>
              </div>
            </div>
            <div>
              <div class="input-group mb-3">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Username"
                  aria-label="Username"
                  aria-describedby="basic-addon1"
                />
                <button class="btn btn-primary" type="submit">
                  # Of player
                </button>
              </div>
            </div>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
